* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 10px 20%;
}

.container img {
  width: 100%;
  margin-top: 5px;
}

h1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}